"$schema" = 'https://starship.rs/config-schema.json'

add_newline = false
command_timeout = 1000
format = """
$username\
$hostname\
$directory\
$git_branch\
$git_state\
$git_commit\
$git_status\
$sudo\
$line_break\
$jobs\
$status\
$shell\
$character\
"""
right_format = """
$gcloud\
$azure\
$aws\
"""

[directory]
style = 'white bold underline'
truncation_length = 1
truncation_symbol = '…/'
fish_style_pwd_dir_length = 1
read_only = " ro"

# [directory.substitutions]
# # Default iCloud directory under macOS
# '/Library/Mobile Documents/com~apple~CloudDocs' = '/iCloud'

[hostname]
ssh_only = true

[username]
disabled = false
show_always = true
format = '[$user]($style) '
style_user = 'bright-white bold'
style_root = 'bright-black bold'

[status]
disabled = false
format = '[$symbol$status]($style)'
style = 'bg:red fg:white bold'
symbol = ''
success_symbol = ''

[character]
format = '$symbol '
success_symbol = '[\$](dimmed white bold)'
error_symbol = ''
vicmd_symbol = '[vi \$](inverted dimmed white bold)'

[aws]
symbol = "aws "
format = '[$symbol($profile)(-$region)]($style)'

[aws.region_aliases]
us-east-1 = 'ue1'
eu-west-1 = 'ew1'

[git_branch]
format = '[$symbol$branch(:$remote_branch)]($style) '
style = 'bright-black'
truncation_length = 16

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = 'bold bright-red'
rebase = 'rebase'
merge = 'merge'
revert = 'revert'
cherry_pick = 'cherry-pick'
bisect = 'bisect'
am = 'am'
am_or_rebase = 'am/rebase'

[git_status]
format = '([$all_status$ahead_behind]($style) )'
style = 'bold dimmed white'
conflicted = '=${count}'
ahead = '⇡${count}'
diverged = '⇡${ahead_count}⇣${behind_count}'
behind = '⇣${count}'
up_to_date = ''
untracked = '?'
stashed = '\$'
modified = '[~$count](yellow)'
staged = '[+$count](green)'
renamed = '[~$count](yellow)'
deleted = '[-$count](red)'

# Plain text modules
# https://starship.rs/presets/plain-text
[azure]
symbol = "az "

[bun]
symbol = "bun "

[c]
symbol = "C "

[cobol]
symbol = "cobol "

[conda]
symbol = "conda "

[crystal]
symbol = "cr "

[cmake]
symbol = "cmake "

[daml]
symbol = "daml "

[dart]
symbol = "dart "

[deno]
symbol = "deno "

[dotnet]
symbol = ".NET "

[docker_context]
symbol = "docker "

[elixir]
symbol = "exs "

[elm]
symbol = "elm "

[fennel]
symbol = "fnl "

[fossil_branch]
symbol = "fossil "

[gcloud]
symbol = "gcp "

[gleam]
symbol = "gleam "

[golang]
symbol = "go "

[gradle]
symbol = "gradle "

[guix_shell]
symbol = "guix "

[hg_branch]
symbol = "hg "

[java]
symbol = "java "

[julia]
symbol = "jl "

[kotlin]
symbol = "kt "

[lua]
symbol = "lua "

[nodejs]
symbol = "nodejs "

[memory_usage]
symbol = "memory "

[meson]
symbol = "meson "

[nats]
symbol = "nats "

[nim]
symbol = "nim "

[nix_shell]
symbol = "nix "

[ocaml]
symbol = "ml "

[opa]
symbol = "opa "

[os.symbols]
AIX = "aix "
Alpaquita = "alq "
AlmaLinux = "alma "
Alpine = "alp "
Amazon = "amz "
Android = "andr "
Arch = "rch "
Artix = "atx "
CentOS = "cent "
Debian = "deb "
DragonFly = "dfbsd "
Emscripten = "emsc "
EndeavourOS = "ndev "
Fedora = "fed "
FreeBSD = "fbsd "
Garuda = "garu "
Gentoo = "gent "
HardenedBSD = "hbsd "
Illumos = "lum "
Kali = "kali "
Linux = "lnx "
Mabox = "mbox "
Macos = "mac "
Manjaro = "mjo "
Mariner = "mrn "
MidnightBSD = "mid "
Mint = "mint "
NetBSD = "nbsd "
NixOS = "nix "
OpenBSD = "obsd "
OpenCloudOS = "ocos "
openEuler = "oeul "
openSUSE = "osuse "
OracleLinux = "orac "
Pop = "pop "
Raspbian = "rasp "
Redhat = "rhl "
RedHatEnterprise = "rhel "
RockyLinux = "rky "
Redox = "redox "
Solus = "sol "
SUSE = "suse "
Ubuntu = "ubnt "
Ultramarine = "ultm "
Unknown = "unk "
Void = "void "
Windows = "win "

[package]
symbol = "pkg "

[perl]
symbol = "pl "

[php]
symbol = "php "

[pijul_channel]
symbol = "pijul "

[pulumi]
symbol = "pulumi "

[purescript]
symbol = "purs "

[python]
symbol = "py "

[quarto]
symbol = "quarto "

[raku]
symbol = "raku "

[ruby]
symbol = "rb "

[rust]
symbol = "rs "

[scala]
symbol = "scala "

[spack]
symbol = "spack "

[solidity]
symbol = "solidity "

[sudo]
symbol = "sudo "

[swift]
symbol = "swift "

[typst]
symbol = "typst "

[terraform]
symbol = "terraform "

[zig]
symbol = "zig "
